.items {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 156px 24px;
  overflow: auto;
}

.items::-webkit-scrollbar {
  display: none;
}

.grid-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  margin: 24px 0;
  // font-family: 'Rubik', sans-serif;
  padding-top: 8vh;
  // font-family: 'Nunito', sans-serif;
  // font-family: 'Work Sans', sans-serif;
}

@media (max-width: 599px) {
  .items {
    grid-template-columns: repeat(12, 45%);
    grid-gap: 16px;
    padding: 0 16px;
  }

  .grid-title {
    font-size: 24px;
    line-height: 32px;
    padding: 0 16px;
  }
}
