:host {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-content {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(255, 255, 255, 0.12);
  padding: 48px;
  background: #000;
  width: 550px;
  height: 600px;
}

h1 {
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  margin: 24px 0;
}

form {
  // border: 1px solid rgba(0,0,0,.12);
}

.form-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 24px;
}

.row-actions {
  display: flex;
  margin-top: 24px;
}
